@import "~bootstrap/scss/bootstrap";

.task {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 10px auto;
    
}

.project {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}